 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

 /* CSS RESET */
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
header.header-container nav img{
    width: 100px;
    /* clip-path: circle(); */
}
header.header-container{
   padding: 10px 20px;
}
header.header-container nav ul.navigation-container{
    display:flex;
    float:right;
    gap: 3rem;
}
header.header-container nav ul.navigation-container li {
    list-style: none;
    font-weight: 700;
    padding: 0.2rem;
}
header.header-container nav ul.navigation-container li a.nav-links{
    text-decoration: none; 
    color: white;
}
header.header-container nav ul.navigation-container li:hover{
   text-decoration: underline;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    
}
#welcome-container{
    background: url(./assets/images/4.jpg) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    height: 70vh;
    position: relative;
}
#sliding-arrow{
    position: absolute;
    bottom: -30px;
    transform:translate(-50%,-50%);
    left: 50%;
    padding: 10px;
    clip-path: circle();
    background-color: #fff;
}
.sub-container{
    margin-top: 20vh;
    text-align: center;
}
.sop-container{
    margin-top: 20vh;
}
.sop-container h2{
    text-align: center;
}
h2{
    color: #2E6171;
    padding: 15px;
    text-decoration: underline;
    letter-spacing: 2px; 
}
.objectives{
    margin-top: 20vh;
    text-align: center;
    letter-spacing: 2px;
}
.objectives ul li{
    list-style: none;
    line-height: 50px;
}
.testimonials h2{
    margin-top: 20vh;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
 }
.testimonials img{
    width: 130px;
    clip-path: circle();
    align-items: center;
}
footer{
    height: 400px;
    background-color: #000;
    color: rgb(98, 139, 139);
    text-align: center;
 }
 footer h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
 }
 footer p{
    text-align: center;
    color: #fff;
    border-bottom: 1px dotted gray;
 }
 .footer-content{
    width: 20%;
    color: rgb(98, 139, 139);
    margin: auto;
    justify-content: space-between;
    cursor: pointer;
    /* animation: setcolor 1s 2.4s ease-in-out infinite; */
 }
 
 #arrow-btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #2E6171;
}
button{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #7B886F;
    width: 160px;
    margin: 15vh ;
    padding: 15px;
    text-align: center;
    /* 
    box-shadow: 5px 10px ;
    border: none;  */
}
#cta-btn a{
    color: #fff;
    text-decoration: none;
}
 
 







