@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

/* CSS RESET */
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #613F75; */
    background-color:#E5C3D1;
}
header.header-container{
    height: 18vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(21, 133, 174); 
}
header.header-container nav ul.navigation-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
header.header-container nav ul.navigation-container li{
    list-style: none;
    font-weight: 700;
    padding: 1rem 0.5rem;
}
header.header-container nav ul.navigation-container li a.nav-links{
    text-decoration: none; 
    color: white;
}
header.header-container nav ul.navigation-container li:hover{
    background-color: orange;
    transition: 2s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}
#welcome-container{
    background-image: url(./assets/images/5.jpg);
    background-size: cover;
    background-position: center center;
    height: 550px;
}
#items{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.gallery{
    margin: 25px;
    float:left;
    width: 350px;
    cursor: pointer;
    border-radius:15px;
} 
div.gallery img{
    width: 100%; 
}
.gallery p{
    padding: 3px;
    text-align: center;
   
}
.gallery .price{
    text-decoration:line-through;
}
div.gallery input{
   background-color: red;
   color: #fff; 
   border-radius: 10px;
   padding: 14px;
   width: 30%;
}
input[type="submit"]:hover{
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
header.section-header h1{
    font-size: 2rem;
    color: #000;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

footer{
    height: 400px;
    background-color: #000;
    color: rgb(98, 139, 139);
    text-align: center;
 }
 footer h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
 }
 footer p{
    text-align: center;
    color: #fff;
    border-bottom: 1px dotted gray;
 }
 .footer-content{
    width: 20%;
    color: rgb(98, 139, 139);
    margin: auto;
    justify-content: space-between;
    /* animation: setcolor 1s 2.4s ease-in-out infinite; */
 }


